<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <title>Independent Tech</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="FlameOnePage freebie theme for web startups by FairTech SEO." name="description" />
    <meta content="FairTech" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="public/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="public/css/animate.css" rel="stylesheet">
    <link href="public/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="public/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<!-- Fontawesome Icon font -->
<link rel="stylesheet" href="public/css/font-awesome.min.css">
<!-- bootstrap.min -->
<link rel="stylesheet" href="public/css/jquery.fancybox.css">
<!-- bootstrap.min -->
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<!-- bootstrap.min -->
<link rel="stylesheet" href="public/css/owl.carousel.css">
<!-- bootstrap.min -->
<link rel="stylesheet" href="public/css/slit-slider.css">
<!-- bootstrap.min -->
<link rel="stylesheet" href="public/css/animate.css">
<!-- Main Stylesheet -->
<link rel="stylesheet" href="public/css/main.css">

<!-- Modernizer Script for old Browsers -->
<script src="public/js/modernizr-2.6.2.min.js"></script>



<body id="body" data-spy="scroll" data-target=".header">

    <header class="header navbar-fixed-top">
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="menu-container js_nav-item">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="toggle-icon"></span>
                    </button>

                    <div class="logo">
                        
                        <a class="logo-wrap" href="#body" >
                            <img class="logo-img logo-img-main" src="public/img/logo.png" width="200%" height="100%" alt="independent tech">
                        </a>
                    </div>
                </div>

                <div class="collapse navbar-collapse nav-collapse">

                    <div class="menu-container">
                        <ul class="nav navbar-nav navbar-nav-right">
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#body">Home</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#about">Team</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#products">Projects</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#services">Services</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#technologies">Technologies</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
        </div>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="img-responsive" src="public/img/1920x1080/01.jpg" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40">
                            <h1 class="carousel-title">Hi-End Solutions</h1>
                            <p class="color-white">Our team provides responsive and comprehensive solutions for your
                                projects, <br /> organization focused on the most innovative service delivery. </p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Details</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="public/img/1920x1080/02.jpg" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40">
                            <h2 class="carousel-title">Infrastructure Solutions</h2>
                            <p class="color-white"><br /> Ensure Data Center operation success through network, server,
                                and infrastructure monitoring and troubleshooting.</p>
                        </div>
                        <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Take a Tour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========== SLIDER ==========-->
    <!-- about section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow animated fadeInLeft">
                    <div class="recent-works">
                        <br>
                        <h3>What is Intependent Tech?</h3>
                        <div id="works">
                            <div class="work-item">
                                <p> The Independent Tech intends to deliver a differentiated and innovative IT consulting service. The way
                                    of approaching the customer, analyzing and solving problems is the main customer
                                    service valued in our service delivery.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                    <div class="welcome-block">
                        <br>
                        <h3>Meet our Independent Tech</h3>
                        <div class="message-body">
                            <img src="public/img/member-02.jpg" class="pull-left" alt="member">
                            <p>I'm an Independent IT ConsultantFocuses on IT infrastructure, security and scalability.
                                Gamer Certified, Brazilian american, Tech fanatic and proudly sommeiler.
                                Proven leader with 10 years of extensive experience with Windows and Linux
                                infrastructure design, implementation and migration projects. Skilled in managing and
                                motivating a team of IT professionals in order to build and maintain a strong and
                                efficient server/network infrastructure. Excellent background in rack mount server
                                design and implementation, data center moves and migrations, IT budgeting and cost
                                control.
                            </p>
                            <br>
                            <a href="#" class="btn btn-border btn-effect pull-right">Read More</a>
                        </div>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->

    <!--========== PAGE LAYOUT ==========-->


    <div class="bg-color-sky-light">
        <div class="content-lg container">
            <div class="row">
                <div class="col-md-5 col-sm-5 md-margin-b-60">
                    <div class="margin-t-50 margin-b-30">
                        <h2>Why Independent Tech?</h2>
                        <p>Our technical solutions combine the use of expertly executed technical solutions along with
                            the use of industry-leading partnerships and services. We develop systems and processes
                            that are robust enough to meet your business needs today, but scale as you grow to face the
                            challenges of the enterprise landscape.</p>
                    </div>
                    <!-- <a href="#" class="btn-theme btn-theme-sm btn-white-bg text-uppercase">More...</a> -->
                </div>
                <div class="col-md-5 col-sm-7 col-md-offset-2">
                    <!-- Accordion -->
                    <div class="accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            IT Solutions
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Our approach to IT is simple: provide solutions for all aspects of your
                                        infrastructure that makes sense for you and your budget. Independent Tech
                                        ensures your on-premises machines, systems and network are understood with
                                        simplicity, security and scalability in mind.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            DevOps
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Data is essential to your business. Independent Tech assesses your company's
                                        needs with your DevOps and database objectives for comprehensive services. Have
                                        disparate third party software? We step in to provide an optimized workflow to
                                        keep everything running smoothly.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed panel-title-child" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            Data Center and Network
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Lower support and maintenance costs.Greater control of your environment.Greater
                                        flexibility.In-house legacy hardware replacement program
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Accodrion -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
    </div>
    <!-- End About -->

    <!-- Latest Products -->
    <div id="products">
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>Recent Projects</h2>

                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive" src="public/img/970x647/data06.jpg" alt="Latest Products Image">
                    </div>
                    <h4><a href="#">Nokia</a> <span class="text-uppercase margin-l-20">Data Center and IDF</span></h4>
                    <p>Ensure Data Center operation success through network, server, and infrastructure monitoring and
                        troubleshooting.
                        Conducted Physical audits in the tool crib to correct the computer inventory.<br> Provided
                        overall daily router and server administration including monitoring, analysis, troubleshooting
                        and performance tuning.</p>
                </div>
                <!-- End Latest Products -->

                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive" src="public/img/970x647/network.jpg" alt="Latest Products Image">
                    </div>
                    <h4><a href="#">CVS</a> <span class="text-uppercase margin-l-20">It and Nerwork Support </span></h4>
                    <p>Provided hardware and software support, troubleshoot and repaired network computers.
                        Monitored data communications and security.Coordinated with Dell service for service repairs on
                        equipment</p>
                </div>
                <!-- End Latest Products -->

                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="margin-b-20">
                        <img class="img-responsive" src="public/img/970x647/itsupp.jpg" alt="Latest Products Image">
                    </div>
                    <h4><a href="#">Kaiser Permanente</a> <span class="text-uppercase margin-l-20">IT Support</span></h4>
                    <p>Installed and maintained physical components of computer systems.
                        Supported specific offices as well as delivered expert service at clients' offices.<br>
                        Educated clients about products and assisted with decision-making.<br>Installed
                        HW/SW/Networking products and configured systems at customer sites.</p>

                </div>
                <!-- End Latest Products -->
            </div>
            <!--// end row -->
        </div>
    </div>
    <div id="services">
        <section id="portfolio">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Services</h2>

                    </div>


                    <ul class="project-wrapper wow animated fadeInUp">
                        <li class="portfolio-item">
                            <img src="public/img/portfolio/storage.jpg" class="img-responsive" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                            <figcaption class="mask">
                                <h3>Storage Maintenance</h3>
                                <p>DELL, HP, IBM, SUN, NETAPP, HUAWEI, - Corrective and preventive maintenance in
                                    Storages.</p>
                            </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Araund The world" data-fancybox-group="works" href="public/img/portfolio/cable.jpg"><i
                                            class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="public/img/portfolio/cables.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                            <figcaption class="mask">
                                <h3>Cabling</h3>
                                <p>Inspect, install and repair
                                    new or existing cable systems for residential and business sites.</p>
                            </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Wall street" href="public/img/slider/banner.jpg"
                                        data-fancybox-group="works"><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="public/img/portfolio/servermainte.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                            <figcaption class="mask">
                                <h3>Server Maintenance</h3>
                                <p>Provide 24/7 data center and hardware/software support for users. Maintain existing
                                    Enterprise IT architecture, administers server operating systems running on
                                    physical
                                    and virtual hardware including user access and privileges, email, remote access,
                                    intranet, and other related services. Safeguard integrity of networks. Plan and
                                    direct
                                    installations, repairs, and upgrades to ensure no loss of data and no unscheduled
                                    downtime.</p>
                            </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Behind The world" data-fancybox-group="works" href="public/img/portfolio/item3.jpg"><i
                                            class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="public/img/portfolio/hardware.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
                            <figcaption class="mask">
                                <h3>Hardware Replacement</h3>
                                <p>Assembly of various types of computers and servers, wiring, power and data cabling,
                                    hardware integration</p>
                            </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Wall street 4" data-fancybox-group="works" href="public/img/portfolio/item4.jpg"><i
                                            class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="public/img/portfolio/recruiting.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                            <figcaption class="mask">
                                <h3>Recrutinment</h3>
                                <p>Monitor and manage potential candidates related to Information Technology.<br></p>
                            </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Wall street 5" data-fancybox-group="works" href="public/img/portfolio/item5.jpg"><i
                                            class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="public/img/portfolio/system.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                            <figcaption class="mask">
                                <h3>System Administration and End-User Support</h3>
                                <p>Provid support in the implementation and installation of hardware and software
                                    components.<br>
                                    Provide Tier 1 (Help Desk) problem identification and Tier 3 (Watch Desk) support
                                    during normal to semi-critical situations </p>
                            </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Wall street 6" data-fancybox-group="works" href="public/img/portfolio/item6.jpg"><i
                                            class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </section>
    </div>
    <!-- end portfolio section -->
    <div id="technologies">
        <div class="content-lg container">
            <!-- Swiper Clients -->
            <div class="sec-title text-center wow animated fadeInDown">
                <h2>Technologies</h2>

            </div>
            <div class="swiper-slider swiper-clients">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="public/img/clients/tivoli.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="public/img/clients/micro.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="public/img/clients/servicenow.jpg" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="public/img/clients/cent.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="public/img/clients/meraki.png" alt="Clients Logo">
                    </div>

                </div>
                <!-- End Swiper Wrapper -->
            </div>
            <!-- End Swiper Clients -->
        </div>
    </div>
    <!-- Google Map -->
    <div class="map height-300">
        <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAj-hqwH0-WjBsvl1Lwe9mXXxgtlEXmASw
                  &q=Elwood+Avenue,Oakland-CA"
            allowfullscreen>
        </iframe>
    </div>
    </div>
    <!-- End Contact -->
    <!--========== END PAGE LAYOUT ==========-->
    <br>
    <hr>
    <!--========== FOOTER ==========-->
    <footer class="footer">
        <!-- Links -->
        <section id="contact">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Contact</h2>
                        <p>Leave a Message</p>
                    </div>
                    <div class="col-md-7 contact-form wow animated fadeInLeft">
                        {{msg}}
                        <div class="col-md-7 contact-form wow animated fadeInLeft">
                            <form action="send" method="post">
                                <div class="input-field">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name...">
                                </div>
                                <div class="input-field">
                                    <input type="company" name="company" class="form-control" placeholder="Your Email...">
                                </div>
                                <div class="input-field">
                                    <input type="email" name="email" class="form-control" placeholder="Your Email...">
                                </div>
                                <div class="input-field">
                                    <input type="text" name="phone" class="form-control" placeholder="phone...">
                                </div>
                                <div class="input-field">
                                    <textarea name="message" class="form-control" placeholder="Messages..."></textarea>
                                </div>
                                <button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-5 wow animated fadeInRight">
                        <address class="contact-details">
                            <h3>Contact Us</h3>
                            <p><i class="fa fa-pencil"></i>Independent Tech.<span>PO Box 345678</span> <span>Oakland-CA
                                </span><span>US</span></p><br>
                            <p><i class="fa fa-phone"></i>Phone:(510) 919-8470 </p>
                            <p><i class="fa fa-envelope"></i>business@wstechconsult.com</p>
                        </address>
                    </div>

                </div>
            </div>
        </section>
        <br>
        <hr>

        <div class="container">
            <div class="row text-center">
                <div class="footer-content">
                    <p>Copyright &copy; 2018 Design and Developed By <a href="#">Independent Tech</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- End Copyright -->
    </footer>
    <!--========== END FOOTER ==========-->
    <hr>
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

    <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- CORE PLUGINS -->
    <script src="public/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="public/vendor/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- PAGE LEVEL PLUGINS -->
    <script src="public/vendor/jquery.easing.js" type="text/javascript"></script>
    <script src="public/vendor/jquery.back-to-top.js" type="text/javascript"></script>
    <script src="public/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
    <script src="public/vendor/jquery.wow.min.js" type="text/javascript"></script>
    <script src="public/vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
    <script src="public/vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="public/vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

    <!-- PAGE LEVEL SCRIPTS -->
    <script src="public/js/layout.min.js" type="text/javascript"></script>
    <script src="public/js/components/wow.min.js" type="text/javascript"></script>
    <script src="public/js/components/swiper.min.js" type="text/javascript"></script>
    <script src="public/js/components/masonry.min.js" type="text/javascript"></script>

</body>
<!-- END BODY -->

</html>