.btn{
    width: 400px;
    height: 200px;
    display: inline-block;
    
}
@media only screen and (max-width:480px){
    .btn{
        background-color: yellow;
    width: 100%        
    } 
}
@media only screen and (min-width:481px){
    .btn{
        background-color: blue;
    }
}
@media only screen and (min-width:1024px){
    .btn{
        background-color:red;
        width: 50%;
    
    }

}
@media only screen and (min-width:1266px){
    .btn{
        background-color:red;
        
    
    }

}