body{
    background-color:darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
    color: chartreuse;
    line-height: 1.6em;
    margin: 20px;

    
}
.clr{
    clear: both; /* clean the floats from the formatting*/
}
.container{
    width: 80%;
    margin: auto;
    
    
}
.box-1{
    background-color: darkslategrey;
    border: 10px red solid;
    padding: 20px;
    margin: 20px;
    
}
.box-1 h1{
    font-family: cursive;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}
.box-2 h1{
    font-family: cursive;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}

.box-2{
    background-color: indigo;
    border: 10px black dotted;
    padding: 20px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1 h2 {
    color: blue;
}
.categories{
    
    
    font-family: cursive;
    border: 10px  pink solid;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
    color: coral;
    font-style: normal;
    border-radius: 15px; /* give rounded corner to the border */
    


}
.categories h3{
    text-align: center;

}
.categories ul{
    text-decoration: none;
    list-style: none;
    padding: 20px;
    text-align: left;
    color: black;
    
}
.categories li{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    border-bottom: 0.5px dotted purple;
    
    
}
a {
    text-decoration: none;
    
}
a:visited{
    color: yellowgreen;

}
.my-form {
    padding: 20px;
    font-family: sans-serif;
    color: black;
    font-size: 15;

}
.my-form {
    padding-bottom:15px
}
.my-form label{
    display:block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 50%;

}
.my-form select{
    padding: 20px 30px;
    width: 35%;
    font-size: 15;
    user-select: text;
    
}
.my-form option[value="text"]{
    font-size: 15;
}
.my-form input[type="submit"]{
    background-color: black;
    color: antiquewhite;
    padding: 10px 15px;
    border: none;

}
.block{
    float: left;
    width: 28.5%;
    color: black;
    padding: 10px;
    font-size: 15;
    margin: 20px;
    border: 3px green solid;
}
.block h4{
    text-align: center;
}

.bin{
    position: fixed;
    top: 400px;
    border-radius:13px solid;
    background-color: yellow;
    
}
.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid;
    margin-top: 30px;
    position: relative;
}
.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;

}
.p-box h2{
    position:absolute;
    bottom: 40px;
    right: 100px;
}
